.fizzbuzz{
    background-color: coral;
}
.fizz{
    background-color: green;
}
.buzz{
    background-color: yellow;
}
.number{
    background-color: rgb(80, 205, 255);
}

/* .fizzbuzz{
    background-color: coral;
}
.fizz{
    background-color: green;
}
.buzz{
    background-color: yellow;
}
.number{
    background-color: rgb(80, 205, 255);
} */