.fizzbuzz{
    background-color: coral;
    background-color: aliceblue;
    border: 3px solid black;
    grid-area: header-cont;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fizz{
    background-color: green;
}
.buzz{
    background-color: yellow;
}
.number{
    background-color: rgb(80, 205, 255);
}

